[submodule "demo/esp32/lvgl_basic/components/lvgl"]
	path = demo/esp32/lvgl_basic/components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v7
[submodule "demo/esp32/lvgl_basic/components/lvgl_esp32_drivers"]
	path = demo/esp32/lvgl_basic/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "demo/esp32/lvgl/components/lvgl"]
	path = demo/esp32/lvgl/components/lvgl
	url = https://github.com/lvgl/lvgl.git
	branch = release/v7
[submodule "demo/esp32/lvgl/components/lvgl_esp32_drivers"]
	path = demo/esp32/lvgl/components/lvgl_esp32_drivers
	url = https://github.com/lvgl/lvgl_esp32_drivers.git
[submodule "demo/sound_spectrum/components/esp-dsp"]
	path = demo/sound_spectrum/components/esp-dsp
	url = https://github.com/espressif/esp-dsp.git
[submodule "demo/azure/azure-as-component/components/azure/azure-sdk-for-c"]
	path = demo/azure/azure-as-component/components/azure/azure-sdk-for-c
	url = https://github.com/Azure/azure-sdk-for-c.git
	branch = 379fe81df466031a2552f72f6171e8ef0e3cd76a
[submodule "demo/azure/azure-as-component-nested/demo/azure/azure-as-component-inside/components/my_component/azure-sdk-for-c"]
	path = demo/azure/azure-as-component-nested/demo/azure/azure-as-component-inside/components/my_component/azure-sdk-for-c
	url = https://github.com/Azure/azure-sdk-for-c.git
